<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--For running in parallel uncomment line 4-->
<!--<suite name="SauceDemo Test Suit" parallel="tests" thread-count="2" >-->
<suite name="SauceDemo Test Suit">
    <listeners>
        <listener class-name="ExtentReporter.ExtentSetup"/>
    </listeners>

    <test name="SauceDemo Test Cases with chrome">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="Tests.Task1SauceDemoTest"/>
        </classes>
    </test>

<!--     Un-comment this block to test with Firefox-->

    <test name="SauceDemo Test Cases with firefox">
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name="Tests.Task1SauceDemoTest"/>
        </classes>
    </test>
</suite>